create the json forma to pass by the machines.

this are the data in the STR.edf {[data],[sect1]...[sectN]}

In [1]:
import datetime
import pandas as pd
import json
from random import randrange

donnees_root = '../Data/0000000000000'

donnees = pd.read_csv(f'{donnees_root}/STR_data.txt').reset_index()
#donnees.drop(columns='Time', inplace= True)

In [4]:
donnees.head(20)

,index,1,2,3,4,5,6,7,8,9,...,71,72,73,74,75,76,77,78,79,80
0,0,19279.0,631.0,1081.0,2.0,450.0,450.0,14606.0,1.0,2.0,...,0.2,0.1,0.1,0.0,0.0,0.0,0.0,0.0,0.0,-26584.0
1,1,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,19280.0,592.0,1049.0,4.0,616.0,616.0,14616.0,1.0,2.0,...,0.3,0.1,0.1,0.0,0.0,0.0,0.0,0.0,0.0,-942.0
11,11,NaN,1053.0,1212.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,NaN,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### This are the two functions to convert alpha-numerics values into hexadecimal and vice-versa. The trick is to treat is to pass an string alpha-numeric and convert to hexadecimal each string element.

In [ ]:
### STR 2 HEX
original_string = "CAN5501771"
hex_representation = original_string.encode('utf-8').hex()
hex_representation

In [ ]:
### HEX 2 STR
decoded_string = bytes.fromhex(hex_representation).decode('utf-8')
decoded_string

### Here we loop for all day registered in an str_file.

In [2]:
#num_ser = ['CAN5501771', 'CAN5501772', 'CAN5501671', 'CAN5507895', 'CAN5507896', 
#           'CAN5507897', 'CAN5507898', 'CAN5507899', 'CAN5507900', 'CAN5507901', 'CAN55079023']

for i in range(18,19): #range(int(donnees.shape[0]/10)):    # loop in each daily section   
    xs = list(donnees.iloc[i*10][1:])
    #xs.insert(0, num_ser[randrange(5)])     
    
    message = dict(data = xs)
    #message = dict(data = list(map(lambda x: float.hex(x), xs)) )
    
    sessions = donnees.iloc[i*10][4]        
    if sessions >2:                         
        j = (sessions-2)/2
        for k in range(1,int(j)+1):         
            S = f'SEC{k}'
            message[S]=[donnees.iloc[i*10+k][2], donnees.iloc[i*10+k][3]]
            #message[S]=[float.hex(donnees.iloc[i*10+k][2]), float.hex(donnees.iloc[i*10+k][3])]
            
    print(json.dumps(message))

{"data": [19297.0, 661.0, 712.0, 6.0, 529.0, 530.0, 14754.0, 1.0, 2.0, 45.0, 4.0, 10.0, 1.0, 1.0, 1.0, 0.0, 0.0, 5.0, 10.0, 6.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 5.0, 2.0, 27.0, 0.0, 1.0, 10.98, 6.48, 0.528, 0.288, 37.62, 16.0, 25.2, -0.1, 0.0, 1.0, -1.0, -1.0, -1.0, -1.0, 9.6, 9.96, 9.96, 9.72, 9.96, 9.96, 9.72, 9.96, 9.96, 0.02, 0.28, 0.06, 0.82, 8.625, 10.25, 15.125, 20.0, 23.2, 28.8, 0.42, 0.56, 0.78, 0.7, 0.6, 0.1, 0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 20455.0], "SEC1": [716.0, 951.0], "SEC2": [958.0, 1201.0]}

C:\Users\Javier GONZALEZ\AppData\Local\Temp\ipykernel_27540\2736471113.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sessions = donnees.iloc[i*10][4]
C:\Users\Javier GONZALEZ\AppData\Local\Temp\ipykernel_27540\2736471113.py:16: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  message[S]=[donnees.iloc[i*10+k][2], donnees.iloc[i*10+k][3]]

### Working with time units for the variables:
 
Time: number of seconds since first record. it is stepped each 2.4 hours (8640 sec) for 10 intervals per day.

Date: number of days after reference time

MaskOn: number of minutes after... per day

MaskOff: number of minutes after ..  per day

MaskEvents: number of times (MAskOn+MaskOff) per day

Duration: number of minutes after MaskOn up to MaskOff per day (The total sum of all sections times durations)

OnDuration: the same

PatientHours: number of hours total of patient per life?

Reference time: 01/01/1970

1d = 24 H = 1440 min = 86400 sec

2.4 hours = 8640 sec

In [ ]:
time_ref = datetime.datetime(1970,1,1)
# Time
Time = str(datetime.timedelta(seconds=86400))
# Date
time_actual = time_ref+datetime.timedelta(days=19279)
# MaskOn
MaskOn = str(datetime.timedelta(minutes=661))
# MaskOff
MaskOff = str(datetime.timedelta(minutes=712))
# Duration, OnDuration
Duration = str(datetime.timedelta(minutes=529.0))
# PatientHours
PatientHours = str(datetime.timedelta(hours=86400))

In [ ]:
# PRINTING
print(f'Time_ref ---> {time_ref}')
print(f'Time ---> {Time}')
print(f'Time_actual ---> {time_actual}')
print(f'MaskOn ---> {MaskOn}')
print(f'MaskOff ---> {MaskOff}')
print(f'Duration ---> {Duration}')
print(f'PatientHours ---> {PatientHours}')

In [ ]:
# start and end timestamps in minutes
start_ts = 958 *60
end_ts = 1201 *60

# convert timestamps to datetime object
dt1 = datetime.datetime.fromtimestamp(start_ts)
print('Datetime Start:', dt1)
dt2 = datetime.datetime.fromtimestamp(end_ts)
print('Datetime End:', dt2)

# Difference between two timestamps
delta = dt2 - dt1
print('Difference is:', delta)

In [ ]:
MQTT_BROCKER='localhost'
MQTT_PORT=1887
MQTT_TOPIC='test_topic'
MQTT_USER='matteo'
MQTT_PASSWORD='matteo'

In [ ]:
test =0 # time in minutes
print(datetime.datetime.fromtimestamp(test*60))
print(datetime.timedelta(minutes=test))

In [ ]:
2340/3